<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acb575">  <td>23/06/15 15:23:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;OptionsAPI_Test.getUrl()[pri:0, instance:api.test.OptionsAPI_Test@643b1d11]">&gt;&gt;getUrl</td> 
<td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>23/06/15 15:23:43</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OptionsAPI_Test.optionsAPI()[pri:0, instance:api.test.OptionsAPI_Test@643b1d11]">optionsAPI</td> 
  <td>main@892529689</td>   <td></td> </tr>
</table>
